body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.nav {
    opacity: 0.99;
    color: white;
    list-style: none;
    padding: 20px 0 20px 0;
    float: right;
}

.nav > li {
    display: inline-block;
    padding: 0 25px 0 25px;
}

.nav > li > a {
    text-decoration: none;
    color: black;

}
.nav > li > a:hover {
    color: #c1c1c1;
}

.Forum {
    list-style-type: none;
    text-decoration: none;

}
.Forum > li {
    display: inline-block;
    padding: 0 25px 0 25px;

}
#logo {
    float: right;
    padding: 20px 0 20px 0;

}

/* Add a black background color to the top navigation */
.topnav {
    position: relative;
    background-color: white;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: White;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: white;
    color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
    color: white;
}

/* Centered section inside the top navigation */
.topnav-centered a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Right-aligned section inside the top navigation */
.topnav-right {
    float: right;
}

/* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
@media screen and (max-width: 600px) {
    .topnav a, .topnav-right {
        float: none;
        display: block;
    }

    .topnav-centered a {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
    }
}


#companyDescription {
    width: 500px;
    border-style: double;
    border-color: white;
}

p {
    color: lightgray;
}
.main-container {
    float: left;
    position: relative;
    left: 50%;
}
.fixer-container {
    float: left;
    position: relative;
    left: -50%;
}

#Ceo {
    float: left;
    border-style: inset;
    border-color: black;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}