html {
    overflow: hidden;
    height: 100%;
}
body {
    height: 100%;
    overflow: auto;
}
h1 {
    float: right;
}
.nav {
    opacity: 0.99;
    color: white;
    list-style: none;
    padding: 20px 0 20px 0;
    float: right;

}

.nav > li {
    display: inline-block;
    padding: 0 25px 0 25px;
}

.nav > li > a {
    text-decoration: none;
    color: black;

}
.nav > li > a:hover {
    color: #c1c1c1;
}

.Forum {
    list-style-type: none;
    text-decoration: none;

}
.Forum > li {
    display: inline-block;
    padding: 0 25px 0 25px;

}
#logo {
    float: right;
    padding: 20px 0 20px 0;

}
.searchBox {
	float: right;
}
#research{
    background-color: limegreen;
}